<div class="col_4 block">
    <h4>HTML 101</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat.</p>
    <a href="#" class="button">Class Details</a>
</div>

<div class="col_4 block">
    <h4>CSS</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat.</p>
    <a href="#" class="button">Class Details</a>
</div>

<div class="col_4 block">
    <h4>NodeJS</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat.</p>
    <a href="#" class="button">Class Details</a>
</div>