<h3>Welcome To E-Learn</h3>
<p>
    eLearn is a simple and free online learning platform. Instructors can create courses and students can register for courses which include
    assignements, quizes and support forums.
</p>
<a href="/users/signup" class="button">Sign Up Free</a>
<p>You need to signup to register for free classes</p>